body {
    color: #f4f4f4;
}

.form-container {
    right: 10%;
    width: 700px;
    margin: 50px auto ;
    color: #f4f4f4;
    background-color: #282d31;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h1 {    
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="file"] {
    margin: 5px 0;
}

textarea {
    resize: vertical;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.submit-btn {
    width: 100%;
    text-align: center;
}

.back-btn {
    color: #007bff;
    background-color: #282d31 ;
}

.back-btn:hover {
    background-color: #393457;
    color: #e2e2e2;
}
